</main>

<footer>
  <hr>
  <div class="social-midia-footer">
    <a href="https://github.com/GEGDS" target="_blank">
      <abbr title="GitHub"><img src="/Images/icons/github.svg" alt="icone github"></abbr>
  </a>
  
  <a href="https://www.linkedin.com/in/   gabriel-silva-39a71b217/" target="_blank">
    <abbr title="Linkedin"><img src="/Images/icons/linkedin.svg" alt="icone linkedin"></abbr>
  </a>
  </div>

  <div class="list-footer">
    <p>Ícones fornecidos por <a href="https://icons8.com" target="_blank">Icons8</a> e <a href="https://www.flaticon.com" target="_blank">Flaticon</a></p>
    <p>Alguns ícones foram criados por Freepik e Arkinasi no Flaticon.</p>
    <ul>
      <li><a href="https://www.flaticon.com/br/icones-gratis/homem" target="_blank" title="Homem ícones criados por Freepik - Flaticon">Ícone de homem</a></li>
      <li><a href="https://icons8.com/icon/8126/at-sign" target="_blank">Ícone de e-mail</a></li>
      <li><a href="https://icons8.com/icon/BfmLaUCOh7CM/github" target="_blank">Ícone do GitHub</a></li>
      <li><a href="https://icons8.com/icon/67673/linkedin" target="_blank">Ícone do LinkedIn</a></li>
      <li><a href="https://www.flaticon.com/br/icones-gratis/indice" target="_blank" title="Índice ícones criados por Arkinasi - Flaticon">Ícone de menu</a></li>
      <li><a href="https://icons8.com/icon/7880/location" target="_blank">Ícone de localização</a></li>
      <li><a href="https://icons8.com/icon/54087/nodejs" target="_blank">Ícone do Node.js</a></li>
      <li><a href="https://icons8.com/icon/21278/css3" target="_blank">Ícone do CSS3</a></li>
      <li><a href="https://icons8.com/icon/20909/html-5" target="_blank">Ícone do HTML5</a></li>
      <li><a href="https://icons8.com/icon/108784/javascript" target="_blank">Ícone de JavaScript</a></li>
      <li><a href="https://icons8.com/icon/UFXRpPFebwa2/mysql-logo" target="_blank">Ícone do MySQL</a></li>
  </ul>
  
  </div>

  <p class="rodapé">© Copyright Gabriel Silva <%= new Date().getFullYear() %> | Todos os direitos reservados</p>
</footer>
</body>

</html>