</main>

<footer>
  <div class="social_midia_footer">
    <a href="https://github.com/GEGDS" class="social_media_icon" target="_blank">
      <img src="/Images/icons/github.png" alt="icone github" width="50px" height="50px">
  </a>
  
  <a href="https://www.linkedin.com/in/gabriel-silva-39a71b217/" class="social_media_icon" target="_blank">
      <img src="/Images/icons/linkedin.png" alt="icone linkedin" width="50px" height="50px">
  </a>
  </div>
  <p>© Copyright Gabriel Silva <%= new Date().getFullYear() %> | Todos os direitos reservados</p>
</footer>
</body>

</html>