</main>

<footer>
  <div class="social_midia_footer">
    <a href="https://github.com/GEGDS" class="social_media_icon" target="_blank">
      <abbr title="GitHub"><img src="/Images/icons/github.svg" alt="icone github"></abbr>
  </a>
  
  <a href="https://www.linkedin.com/in/gabriel-silva-39a71b217/" class="social_media_icon" target="_blank">
    <abbr title="Linkedin"><img src="/Images/icons/linkedin.svg" alt="icone linkedin"></abbr>
  </a>
  </div>
  <p style="color: black;">© Copyright Gabriel Silva <%= new Date().getFullYear() %> | Todos os direitos reservados</p>
</footer>
</body>

</html>