<%- include("partials/header.ejs") %>

<button class="menu-btn"><img src="/Images/icons/lista.png" alt=" icone lista menu" width="30px" height="30px"></button>
<nav class="menu">
    <ul class="itens">
        <li><a href="#home">home</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#qualificações">Qualificações</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#contato">Contato</a></li>
    </ul>
</nav>

<section id="home">
  
    <div class="grid-container">
        <div class="home-rigth">
            <img src="/Images/foto_p.jpg" alt="Foto Gabriel">
        </div>
        
        <div class="home-left">
            <h1>Gabriel Silva</h1>
            <p>Estudante de tecnologia em busca da primeira oportunidade profissional
            </h2>
            <p>Este é meu Portfólio oficial.</p>
        
            <button><a href="" download="">Download CV</a></button>
        </div>
        
        <div class="social_midia">
            <a href="https://github.com/GEGDS" class="social_media_icon" target="_blank">
                <abbr title="GitHub"><img src="/Images/icons/github.svg" alt="icone github"></abbr>
            </a>
        
            <a href="https://www.linkedin.com/in/gabriel-silva-39a71b217/" class="social_media_icon" target="_blank">
                <abbr title="Linkedin"><img src="/Images/icons/linkedin.svg" alt="icone linkedin"></abbr>
            </a>
        
        <div>
    </div>

</section>

<section id="sobre">
    <div class="title">
        <h2>Sobre</h2>
    </div>

    <div class="about-content">
        <p>
            Estudante de tecnologia em busca da primeira oportunidade profissional, formado em Tecnólogo em Análise e Desenvolvimento de Sistemas. Busco constantemente aprimorar minhas habilidades e conhecimentos, com o objetivo de contribuir para projetos inovadores e desafiadores na área de desenvolvimento de software.
        </p>
    </div>

    <div class="icons"> 
        <abbr title="HTML5"><img class="icon" src="/Images/icons/html-5.svg" alt="icone html 5"></abbr>
        <abbr title="CSS3"><img class="icon" src="/Images/icons/css3.svg" alt="icone css 3"></abbr>
        <abbr title="JavaScript"><img class="icon" src="/Images/icons/javascript.svg" alt="icone JavaScript"></abbr>
        <abbr title="NodeJS"><img class="icon" src="/Images/icons/nodejs.svg" alt="icone Node js"></abbr>
        <abbr title="MySql"><img class="icon" src="/Images/icons/mysql-logo.svg" alt="icone MySql"></abbr>
    </div>
</section>

<section id="qualificações">

    <div class="grid-container-2">
        <h2 class="title">
            Qualificações
        </h2>

        <div class="jobs">
                <table>
                    <caption>Trabalhos</caption>
                    <dl>
                        <dt>Bureau Veritas | Inspetor LNS 2</dt>
                        <dd>06/2017 até 02/2019</dd>
                        <dt>Tecidos e Armarinhos Miguel Bartolomeu S/A | Auxiliar de Armazém</dt>
                        <dd>05/2019 até 05/2020</dd>
                        <dt>Suplastic Plasticos Eireli |  Auxiliar de Extrusão</dt>
                        <dd>08/2020 até 12/2020</dd>
                        <dt>Trufer | Ajudante Geral</dt>
                        <dd>08/2020 até Atualmente</dd>
                    </dl>
                </table> 
        </div>
        
        <div class="educational-experience">
                <table>
                    <caption >Formações</caption>
                    <dl>
                        <dt>Tecnólogo em Análise e Desenvolvimento de Sistemas EAD | Cruzeiro do Sul</dt>
                        <dd>2023</dd>
                        <dt>The Complete 2024 Web Development Bootcamp - Angela Yu | Udemy</dt>
                        <dd>2024</dd>
                    </dl>
                </table>
        </div>
    </div>
</section>


<section id="projetos">
    <h2>Projetos</h2>
    <p>Alguns dos projetos em que trabalhei...</p>
</section>

<section id="contato">
    <h2>Contato: </h2>
    <div class="icon_contato">
        <img src="/Images/icons/pin-de-localizacao.png" alt="Icone de Localização" width="30px" height="30px>
        <h3>Localização</h3>
        <p>Contagem - MG</p>
    </div>

    <div class="icon_contato">
        <img src="/Images/icons/enviar.png" alt="Icone de E-mail" width="30px" height="30px">
        <h3>E-mail: </h3>
        <p>gabrielback2009@hotmail.com</p>
        <p>gabrielback2009@gmail.com</p>
    </div>

</section>

<script>
    const menuBtn = document.querySelector('.menu-btn');
    const menu = document.querySelector('.menu');

    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('show');
    });
</script>


<%- include("partials/footer.ejs") %>